<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
  <body data-ng-app="ShoppingListCheckOff">
    <div class="container">
      <h1 class="jumbotron">Shopping List Check Off</h1>

      <div class="row">

        <!-- To Buy List -->
        <div data-ng-controller="ToBuyController as ctrl" class="col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>To Buy:</h2>
            </div>
            <div class="panel-body">
                <ul data-ng-repeat="i in ctrl.list" class="list-group">
                  <li class="list-group-item">Buy {{i.quantity}} {{i.name}} <button data-ng-click="ctrl.BuyItem($index);" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
                </ul>
                <div data-ng-if="ctrl.list.length === 0" class="emptyMessage alert alert-success">Everything is bought!</div>
            </div>
          </div>
        </div>

        <!-- Already Bought List -->
        <div data-ng-controller="AlreadyBoughtController as ctrl" class="col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h2>Already Bought:</h2>
            </div>
            <div class="panel-body">
              <ul data-ng-repeat="i in ctrl.list" class="list-group">
                <li class="list-group-item">Bought {{i.quantity}} {{i.name}}</li>
              </ul>
              <div data-ng-if="ctrl.list.length === 0" class="emptyMessage alert alert-warning">Nothing bought yet.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
  </body>
</html>
